<div class="col">
  <h3>Devices</h3>
  <ul>
    <li *ngFor="let device of devices">
      <a (click)="connectDevice(device)" href="#">{{device.features.label}}</a>
    </li>
  </ul>

  <h3>Top Addresses</h3>
  <div class="grid grid-pad">
    <a *ngFor="let address of addresses"
       class="col-1-4"
       routerLink="/detail/{{address.hex}}">
      <div class="module address">
        <h4>{{address.label}}</h4>
      </div>
    </a>
  </div>
</div>
<app-pin-dialog (onPINEntered)="onPINEntered($event)"></app-pin-dialog>
